.window-animation {
  animation: window-fadein 0.7s ease 1 forwards;
}

@keyframes window-fadein {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
